@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 98%;
    --foreground: 30 8% 5%;

    --card: 0 0% 98%;
    --card-foreground: 30 8% 5%;

    --popover: 0 0% 98%;
    --popover-foreground: 30 8% 5%;

    /* #e9d858; */
    --primary: 53 77% 63%;
    --primary-foreground: 0 0% 2%;

    --secondary: 60 7% 94%;
    --secondary-foreground: 30 8% 5%;

    --muted: 60 7% 94%;
    --muted-foreground: 51 6% 45%;

    --accent: 24 99% 64;
    --accent-foreground: 30 8% 5%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 30 8% 5%;
    --input: 60 6% 83%;
    --ring: 52 24% 75%;

    --radius: 0.5rem;

    --border-width-global: 2px;
    --border-width-sm: 1px;

    --padding-global: 3rem;
    --padding-vertical: 10rem;

    --animation-delay: 0.5s;
    --animation-duration: 1s;
    --animation-duration-medium: 0.5s;
    --animation-duration-short: 0.2s;
    --animation-function-bezier: cubic-bezier(0.76, 0, 0.24, 1);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  min-width: 0;
}

li {
  list-style: none;
}
